{% extends 'base.jinja2' %}

{% block subtitle %}Donated by {{ donor.name }}{% endblock subtitle %}

{% block content %}
<ul>
    {% for donation in donations %}
        <li>{{ donation.value }}</li>
    {% endfor %}
</ul>
{% endblock content %}